<footer>
    <div class="footer-container">
        <p>
            This web-site is not affiliated with Overkill, Starbreeze,
            Modworkshop, Type-moon, Nintendo, The Pokemon Company, Creature Inc,
            Valve, Bonzi Buddy, or any other company or person. Please don't
            send us legal complaints, it would make us sad.
        </p>
        <p>Honey, I love you.</p>
        <img src="./hoolichill.gif" alt="Chilling Hooligan" />
    </div>
</footer>
<style>
    footer {
        background-color: #222;
        color: #eee;
        padding: 1em;
        text-align: center;
    }
    .footer-container {
        max-width: 800px;
        margin: 0 auto;
    }
    footer img {
        width: 100%;
        max-width: 300px;
    }
</style>
