---
const text =
    "Welcome to Hoolidetta Marriage Foundation! Here, Hooligan and Punished Bernadetta provide a wide variety of professional services, including, but not limited to: marriage counseling, technical support, game modification development, English-Russian translation, graphic design, pub carrying, Raid: World War II 100%'ing, Yakuza gameplay watching, rock and stoning, hooliswag advocating, artificial intellegence systems review, fox viewing, marten appreciating, Metal Gear franchise gay subtext analysis, Super Mario 64 quantum mechanics rambling, 80s Japanese music distribution, Spotify terms of service violating, Hatsune Miku enjoying, calling people silly geese and goofballs when they act sillyyyyyyyyyyyyy, passionately making out, legal consulting, and, as you can probably tell by now, web development! Thanks for viewing this whole thing!";
---

<div class="marquee" role="marquee">
    <span>{text}</span>
</div>
<style>
    .marquee {
        background-color: #0f0;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
    }

    .marquee span {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 150s linear infinite;
    }

    .marquee span:hover {
        animation-play-state: paused;
    }

    @keyframes marquee {
        0% {
            transform: translate(0, 0);
        }

        100% {
            transform: translate(-100%, 0);
        }
    }
</style>
