---
export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Web-site of the best couple on the modworkshop!"
        />
        <meta name="viewport" content="width=device-width" />
        <meta property="og:title" content="Hoolidetta Marriage Foundation" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://hoolidetta.com" />
        <meta
            property="og:image"
            content="https://hoolidetta.com/hoolichill.gif"
        />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link
            rel="preload"
            href="/fonts/FiraSans-Regular.ttf"
            as="font"
            type="font/ttf"
        />
        <link
            rel="preload"
            href="/fonts/FiraSans-Bold.ttf"
            as="font"
            type="font/ttf"
        />
        <link
            rel="preload"
            href="/fonts/CherryBombOne-Regular.ttf"
            as="font"
            type="font/ttf"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    @font-face {
        font-family: 'Cherry Bomb One';
        src: url('/fonts/CherryBombOne-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
        /** Just the characters we need for "Welcome!" */
        unicode-range: U+57, U+6c, U+63, U+6f, U+6d, U+65, U+21;
    }

    @font-face {
        font-family: 'Fira Sans';
        src: url('/fonts/FiraSans-Regular.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    @font-face {
        font-family: 'Fira Sans';
        src: url('/fonts/FiraSans-Bold.ttf') format('truetype');
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    html {
        box-sizing: border-box;
        background-color: #fff;
        font-family: 'Fira Sans', 'Trebuchet MS', sans-serif;
    }
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    body {
        margin: 0;
        padding: 0;
    }
</style>
